@font-face {
    font-family: 'bebas';
    src: url(../../assets/fonts/BebasNeue-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'akira';
    src: url(../../assets/fonts/AkiraExpanded-SuperBold.woff2) format('woff2');
}

@font-face {
    font-family: 'minecraft';
    src: url(../../assets/fonts/Minecraft.woff2) format('woff2');
}

@font-face {
    font-family: 'plank';
    src: url(../../assets/fonts/PlanetKosmos.woff2) format('woff2');
}

@font-face {
    font-family: 'vogue';
    src: url(../../assets/fonts/Vogue-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'docallisme';
    src: url(../../assets/fonts/DOCALLISMEONSTREET.woff2) format('woff2');
}

@font-face {
    font-family: 'marola';
    src: url(../../assets/fonts/Marola.woff2) format('woff2');
}

@font-face {
    font-family: 'marola';
    src: url(../../assets/fonts/Marola.woff2) format('woff2');
}

@font-face {
    font-family: 'vcrosd';
    src: url(../../assets/fonts/VCROSDMono.woff2) format('woff2');
}

@font-face {
    font-family: 'heartless';
    src: url(../../assets/fonts/Heartless.woff2) format('woff2');
}

@font-face {
    font-family: 'magazine';
    src: url(../../assets/fonts/MagazineLetterByBrntlbrnl-Rg.woff2) format('woff2');
}

@font-face {
    font-family: 'dyna';
    src: url(../../assets/fonts/DynamicTrooper.woff2) format('woff2');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'vcrosd';
}

.home-page{
    padding:0;
    margin:0;
    height: 90vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*border: 1px solid black;*/
}

.title{
    height: 40vh;
    width: 100%;
    padding-left: 2rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /*border: 1px solid blue;*/
}

.main-title{
    font-family: 'vcrosd';
    font-size: 10rem;
    padding: 0;
    /*border: 1px solid green;*/
}

.categories{
    padding-bottom: 4rem;
    padding-left: 2rem;
    font-size: 3rem;
    /*border: 1px solid green;*/
}

.work-links{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.work-links:hover{
    color: black;
}

.work-links:active{
    color: black;
}

/*--------------------------------------carousel-----------------------------------------*/

.content{
    padding-top:0;
    padding-bottom:0;
    top:0;
    padding-left: 5rem;
    padding-right: 5rem;
    margin:0;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
}

.carousel {
    position: relative; 
    padding: 0;
    margin: 0;
    height:50vh;
    width: fit-content; 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    /*border: 1px solid yellow;*/
  }
  
  .work {
    height: relative;
    width: 20%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid pink;*/
  }

  .work-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .work:hover {
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
}

/*-----------------------------------mobile----------------------------------*/

.vertical-title-one{
    display: none;
}

.vertical-title-two{
    display: none;
}

.vertical-title-three{
    display: none;
}

@media screen and (max-width: 767px) {

    .home-page{
        display: auto;
        flex-direction: row;
    }

    .title{
        padding-top: 5rem;
        height: 90vh;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:0;
    }

    .main-title{
        display: none;
    }

    .vertical-title-one{
        font-size: 8rem;
        display: block; 
        writing-mode: vertical-lr; 
        text-orientation: upright; 
        white-space: nowrap
    }

    .vertical-title-two{
        font-size: 8rem;
        display: block; 
        writing-mode: vertical-lr; 
        text-orientation: upright;
        white-space: nowrap
    }

    .vertical-title-three{
        font-size: 8rem;
        display: block; 
        writing-mode: vertical-lr; 
        text-orientation: upright;
        white-space: nowrap
    }

    .content{
        padding: 0;
        top:0;
        margin:0;
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .carousel {
        justify-content: flex-start; 
    }

    .work-img{
        width: 80px;
        height: 80px;
    }

    .work-name{
        display: none;
    }
    

}

